{% load bootstrap_icons %}
{% load static %}

<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="static\css\footer-styles.css">

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <a href="/">
          <img src="static\img\Logo  WA.png" alt="White Atelier Design."
            class="logo" width="60" height="60">
        </a>
        <h3 style="color: white;">White Atelier Design.</h3>
        <p class="copyright" style="color: white;">&copy; 2024 - Acabados y Remodelaciónes 𝐖. </p>
        <p style="color: white;">Construcción, Diseño, Interiorismo, Planos y Remodelaciones. </p>
      </div>

      <div class="col-md-4">

        <ul>
          <li class="footer"><a href="https://www.facebook.com/profile.php?id=100009376803332"><i class="fab fa-facebook-f"></i></a></li>
          <li class="footer"><a href="https://www.instagram.com/whiteatelierdesigncol/"><i class="fab fa-instagram"></i></a></li>
          <li class="footer"><a href="https://api.whatsapp.com/send/?phone=573006211329&text&type=phone_number&app_absent=0"><i class="fab fa-whatsapp"></i></a></li>
        </ul>
      </div>
      <div class="col-md-4">

        <div class="map-responsive">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63820.72465422833!2d-75.64588542256105!3d6.244156599999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e442932a0
          e8b0f1%3A0x66f0d319cc57751e!2sMedell%C3%ADn%2C%20Antioquia%2C%20Colombia!5e0!3m2!1ses-419!2smx!4v1679863323994!5m2!1ses-419!2smx"
            width="400" height="200" frameborder="0" style="border:0"
            allowfullscreen></iframe>
            <h5 style="color: white;">Medellin. Colombia.</h5>
        </div>

      </div>
      <div id="bottom"></div>

    </footer>
  </html>
