{% load static %}
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/adminlte/adminlte.js' %}"></script>


<!- para las tablas ->
<script src="{% static "DataTables/datatables.min.js" %}"></script>
{% include "partials/admin/datatables.html" %}

<!- para las alertas ->
<script src="{% static "Toastr/js/toastr.min.js" %}"></script>

{% if messages %}
{% for message in messages %}
<script>
    toastr.{{ message.tags }}('{{ message|safe }}', '', {
        closeButton: true,
        progressBar: true,
        positionClass: 'toast-top-right'
    });
</script>
{% endfor %}
{% endif %}